

.event_content{
	width:60%;
	margin:auto;
	margin-top:50px;
	margin-bottom: 80px;
}

.hnq_text h1{
	color: #84847c;
	font-size:15px;
	 /* float: right;  */
	 text-align:right;
	
}

.hnq2_text {	
	/*  border: 1px solid red;*/
	margin-top:70px;
}
.hnq2_text h1{
	color: #A37758;
	text-align:center; 

}

.eline{
	border-top:3px solid rgb(177,177,177);
	width: 2.2%; 
	margin: auto;
	margin-top : 20px;
	margin-bottom : 20px;
}


.e_textline {
	border-top: 1px solid rgb(177, 177, 177);
	width: 100%;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 40px;
}



