


.nmain_box {
	/* 	border:1px solid black; */
	width: 60%;
	margin: auto;
	margin-top: 50px;
}

.notice_list{
	width:60%;
	margin:auto;
	margin-top:50px;
}



.hnm_text h1{
	color: #84847c;
	font-size:15px;
	 /* float: right;  */
	 text-align:right;
	
}

.hnm_title{
	display:inline-block;
	width:80%;
}

.hnm_date{
	float:right;
	margin-top:10px;
	width:20%;
	color: gray;
	text-align:right; 
	font-size:15px;
}

.nline{
	border-top:3px solid rgb(177,177,177);
	width: 100%; 
	margin: auto;
	margin-top : 20px;
	margin-bottom : 20px;
}
.n2line{
	border-top:1px solid rgb(177,177,177);
	width: 100%; 
	margin: auto;
	margin-top : 20px;
	margin-bottom : 20px;
}


.n_textline {
	border-top: 1px solid rgb(177, 177, 177);
	width: 100%;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 40px;
}

.page_text h1 {
	font-size:15px;
	color: gray;
}


